#SUPABASE 
NEXT_PUBLIC_SUPABASE_URL=XXXX
NEXT_PUBLIC_SUPABASE_ANON_KEY=XXXX
#PRISMA
DATABASE_URL=XXXX
DIRECT_URL=XXX   
#ENVIO DE CORREOS
EMAIL_USER=XXXX
EMAIL_PASS=XXXX
EMAIL_FROM=XXXXX
#CLOUDINARY
CLOUDINARY_CLOUD_NAME=XXXX
CLOUDINARY_API_KEY=XXXX
CLOUDINARY_API_SECRET=XXXX
#GEMINI O CLAUD API KEY
GOOGLE_GENERATIVE_AI_API_KEY=XXXX
CLOUD_GENERATIVE_AI_API_KEY=XXXX
#INICIOS DE SESION CON GOOGLE Y GITHUB
GOOGLE_CLIENT_ID=XX
GOOGLE_CLIENT_SECRET=XXXX
GITHUB_CLIENT_ID=XXX
GITHUB_CLIENT_SECRET=XXXX
